@use "../global/use.scss";

.example-compare-box {
  position: relative;
  display: flex;
  flex-direction: column;

  @include use.media-mobile-only {
    min-height: 296px;
    width: 280px;
    margin: 0 auto;
  }

  @include use.media-tablet {
    min-height: 512px;
    width: 560px;
    margin: 0 auto;
    left: 1px;
  }

  @include use.media-desktop {
    margin: 0;
    top: 2px;
    left: 0;
  }
}
