@use "../global/use.scss";

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @include use.media-mobile-only {
    flex-direction: column;
  }

  @include use.media-tablet {
    justify-content: space-between;
  }

  @include use.media-desktop {
    width: 1220px;
    margin: 0 auto;
  }
}
