@use "../global/use.scss";

.form-box-item {
  display: flex;
  align-items: center;
  column-gap: 13px;
  position: relative;

  @include use.media-tablet {
    column-gap: 15px;
  }

  @include use.media-desktop {
    column-gap: 13px;
  }

  &--contact {
    @include use.media-mobile-only {
      column-gap: 11px;
    }

    @include use.media-tablet {
      column-gap: 22px;
    }

    @include use.media-desktop {
      width: 569px;
    }
  }

  &--contact:last-of-type {
    @include use.media-desktop {
      width: 572px;
    }
  }

  &--checkbox {
    @include use.media-tablet {
      width: 287px;
    }

    @include use.media-desktop {
      width: 245px;
    }
  }
}

.form-box-item__label {
  cursor: pointer;

  &--radio {
    position: relative;
    margin-right: 0;
    padding-left: 45px;
    color: use.$color-label;

    @include use.media-tablet {
      padding-left: 59px;
    }

    @include use.media-desktop {
      padding-left: 59px;
    }
  }

  &--radio::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid use.$color-program-border;
    border-radius: 50%;
    box-sizing: border-box;

    @include use.media-tablet {
      width: 40px;
      height: 40px;
    }
  }

  &--tel {
    position: relative;

    @include use.media-tablet {
      left: -3px;
    }

    @include use.media-desktop {
      left: 0;
    }
  }

  &--checkbox {
    position: relative;
    margin: 0;
    padding-left: 46px;

    @include use.media-tablet {
      padding-left: 60px;
    }
  }
}

.form-box-item__input-text {
  width: 1px;
  flex-grow: 1;
  border: 1px solid use.$color-input-border;
  text-transform: uppercase;
  box-sizing: border-box;
  color: use.$color-gray;
  outline: none;

  @include use.media-mobile-only {
    @include use.font-oswald-normal;
    line-height: 18px;
    padding: 13px 20px 12px;
  }

  @include use.media-tablet {
    @include use.font-oswald-big;
    line-height: 30px;
    padding: 10px 18px;
  }

  &--mail {
    @include use.media-mobile-only {
      padding: 13.5px 40px 11px 13px;
    }
  }

  &--phone {
    @include use.media-mobile-only {
      padding: 15px 40px 10px 15px;
    }

    @include use.media-tablet {
      padding: 10px 40px 10px 16px;
    }

    @include use.media-desktop {
      padding: 12px 40px 10px 19px;
    }
  }

  &:hover {
    border-color: use.$color-example-line;
  }

  &:focus {
    border: 1px solid use.$color-gray;
    box-shadow: inset 1px 1px 0 use.$color-gray,
      inset -1px -1px 0 use.$color-gray;
  }

  &:focus+.form-box-item__icon-mail,
  &:focus+.form-box-item__icon-phone {
    stroke: use.$color-green;
  }

  &:invalid:focus:not(:placeholder-shown) {
    border: 1px solid use.$color-error;
    box-shadow: inset 1px 1px 0 use.$color-error,
      inset -1px -1px 0 use.$color-error;
  }

  &:invalid:focus:not(:placeholder-shown)+.form-box-item__icon-phone,
  &:invalid:focus:not(:placeholder-shown)+.form-box-item__icon-mail {
    stroke: use.$color-error;
  }
}

.form-box-item__input-radio:checked+.form-box-item__label--radio::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 8px;
  width: 14px;
  height: 14px;
  background-color: use.$color-green;
  border-radius: 50%;
  box-sizing: border-box;

  @include use.media-tablet {
    top: 5px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}

.form-box-item__input-radio:focus+.form-box-item__label--radio::before,
.form-box-item__label--radio:hover::before {
  border-color: use.$color-radio-hover;
}

.form-box-item__input-radio:disabled,
.form-box-item__input-radio:disabled+.form-box-item__label--radio {
  opacity: 0.3;
}

.form-box-item__input-radio:focus+.form-box-item__label--radio::before,
.form-box-item__input-checkbox:focus+.form-box-item__label--checkbox::before {
  outline: 2px solid use.$color-gray;
}

.form-box-item__icon-mail {
  position: absolute;
  right: 16px;
  stroke: use.$color-black;

  @include use.media-tablet {
    right: 18px;
  }

  @include use.media-desktop {
    left: 532px;
  }
}

.form-box-item__icon-phone {
  position: absolute;
  right: 17px;
  stroke: use.$color-black;

  @include use.media-tablet {
    right: 19px;
  }

  @include use.media-desktop {
    right: 20px;
  }
}

.form-box-item__input-checkbox+.form-box-item__label--checkbox::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid use.$color-program-border;
  box-sizing: border-box;

  @include use.media-tablet {
    width: 40px;
    height: 40px;
  }
}

.form-box-item__input-checkbox:checked+.form-box-item__label--checkbox::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  box-sizing: border-box;

  @include use.media-mobile-only {
    top: 2px;
    left: 6px;
    width: 19px;
    height: 15px;
    background-image: url("../img/svg/mob-checkbox.svg");
  }

  @include use.media-tablet {
    top: 5px;
    left: 8px;
    width: 24px;
    height: 19px;
    background-image: url("../img/svg/tab-checkbox.svg");
  }
}

.form-box-item__input-checkbox:focus+.form-box-item__label--checkbox::before,
.form-box-item__label--checkbox:hover::before {
  border-color: use.$color-radio-hover;
}

.form-box-item__input-checkbox:disabled,
.form-box-item__input-checkbox:disabled+.form-box-item__label--checkbox {
  opacity: 0.3;
}
