@use "../global/use.scss";

.gift-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  background-color: use.$color-gray;

  @include use.media-mobile-only {
    background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../img/web-mob-extra-cat.webp");
    padding: 59px 61px 43px 58px;
    flex-direction: column;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../img/web-mob-extra-cat@2x.webp");
    }
  }

  @include use.media-tablet {
    background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../img/web-tab-extra-cat.webp");
    padding: 60px 125px 58px 79px;
    justify-content: space-between;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../img/web-tab-extra-cat@2x.webp");
    }
  }

  @include use.media-desktop {
    background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../img/web-desk-extra-cat.webp");
    padding: 58px 43px 43px;
    flex-direction: column;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../img/web-desk-extra-cat@2x.webp");
    }
  }
}

.gift-box__ico {
  display: block;
  position: relative;

  @include use.media-mobile-only {
    margin-bottom: 48px;
  }

  @include use.media-tablet {
    width: 80px;
    height: 82px;
    top: -2px;
  }

  @include use.media-desktop {
    top: -1px;
    left: 3px;
  }
}

.gift-box__text {
  margin: 0;
  text-align: center;
  color: use.$color-white;
  line-height: 20px;

  @include use.media-mobile-only {
    @include use.font-lato-normal;
    line-height: 20px;
  }

  @include use.media-tablet {
    text-align: left;
  }

  @include use.media-desktop {
    text-align: center;
  }
}
