@use "../global/use.scss";

.main-header {}

.logo__img {
  display: block;
  position: absolute;
  top: 12px;

  @include use.media-tablet {
    width: 174px;
    height: 52px;
  }
}

.logo__text {
  display: block;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);

  @include use.media-tablet {
    display: none;
  }
}

.main-header__logo {
  display: inline-block;
  width: 208px;
  height: 38px;

  &:hover {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 2px solid use.$color-black;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav {
  position: relative;
  padding: 14px 20px;

  @include use.media-mobile-only {
    &--opened .main-nav__toggle {
      background-image: url("../img/svg/mob-menu-close.svg");
      margin: 21px 23px;
      width: 19px;
      height: 20px;
      top: 0;
      right: 0;
    }

    &--closed .main-nav__toggle {
      background-image: url("../img/svg/mob-menu-open.svg");
      width: 24px;
      height: 18px;
      top: 0;
      right: 0;
    }

    &--closed .main-nav__wrapper {
      display: none;
    }

    &--opened .main-nav__wrapper {
      display: block;
    }

    &--nojs .main-nav__toggle {
      display: none;
    }

    &--nojs .main-nav__wrapper {
      display: block;
    }
  }
}

.main-nav__wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  top: 65px;
  margin-left: -20px;

  @include use.media-tablet {
    z-index: 0;
    display: block;
    top: 0;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include use.media-tablet {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  @include use.media-mobile-only {
    border-top: 1px solid transparent;
    border-bottom: 1px solid #E6E6E6;
    background-color: use.$color-white;

    &:first-child {
      border-top: 1px solid #E6E6E6;
    }
  }

  @include use.media-tablet {
    background-color: transparent;
    box-shadow: none;
    border-bottom: none;
  }

  @include use.media-middle {
    min-width: 173px;
    max-width: 183px;

    &:nth-child(3) {
      margin-left: calc(100% - 880px);
    }
  }

  @include use.media-desktop {
    min-width: 220px;
    max-width: 240px;

    &:nth-child(3) {
      margin-left: calc(100% - 960px);
    }
  }
}

.main-nav__toggle {
  position: absolute;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 24px 20px;
  z-index: 3;
  right: 0;

  &::after {
    content: "";
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 2px solid use.$color-black;
  }

  &:active {
    opacity: 0.6;
  }

  @include use.media-tablet {
    display: none;
  }
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  position: relative;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 2px solid use.$color-black;
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.6;
  }

  &--current::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: use.$color-green;
    transition: width 0.35s;
  }

  @include use.media-mobile-only {
    @include use.font-oswald-big;
    line-height: 40px;
    color: use.$color-black;
    left: -2px;
    margin: 12px 41px;
  }

  @include use.media-tablet {
    @include use.font-oswald-18;
    color: use.$color-black;
    padding: 19px 20px 16px 20px;

    // &:hover {
    //   color: use.$color-aqua;
    // }

    // &:focus-visible {
    //   outline: 2px solid use.$color-black;
    // }

    // &:active {
    //   color: rgba(1, 1, 1, 0.3);
    // }
  }
}

.main-nav__link--current {
  @include use.media-tablet {
    color: use.$color-link-current;
    margin-left: 2px;
  }
}
