@use "../global/use.scss";

.main-header {
  @include use.media-mobile-only {
    margin-bottom: 20px;
  }

  @include use.media-desktop {
    position: relative;
    min-height: 690px;
    margin-bottom: 82px;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: -4px;
      width: 50%;
      min-height: 694px;
      width: 716px;
      background-color: rgba(104, 183, 56, .85);
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      top: -4px;
      right: 0;
      width: 716px;
      height: 694px;
      background-image: url("../img/web-desk-main-cat.webp");
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: contain;
      background-color: #444;
      z-index: 1;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/web-desk-main-cat@2x.webp");
      }
    }

  }
}

.main-picture {
  display: block;
}

.logo__img {
  display: block;
  position: absolute;
  top: 10px;

  @include use.media-tablet {
    width: 174px;
    height: 52px;
    position: static;
  }

  @include use.media-desktop {
    width: 202px;
    height: 59px;
  }
}

.logo__text {
  display: block;
  position: absolute;
  top: 24px;
  left: 50.5%;
  transform: translateX(-50%);

  @include use.media-tablet {
    display: none;
  }
}

.main-header__logo {
  display: inline-block;
  height: 38px;
  width: calc(100% - 85px);

  &:hover {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 2px solid use.$color-black;
  }

  &:active {
    opacity: 0.3;
  }

  @include use.media-tablet {
    width: auto;
    height: auto;
  }
}

.main-nav {
  position: relative;
  padding: 11px 20px;
  z-index: 5;

  @include use.media-mobile-only {
    &--opened .main-nav__toggle {
      background-image: url("../img/svg/mob-menu-close.svg");
      margin: 21px 23px;
      width: 19px;
      height: 20px;
      top: 0;
      right: 0;
    }

    &--closed .main-nav__toggle {
      background-image: url("../img/svg/mob-menu-open.svg");
      width: 24px;
      height: 18px;
      top: -2px;
      right: 0px;
    }

    &--closed .main-nav__wrapper {
      display: none;
    }

    &--opened .main-nav__wrapper {
      display: block;
    }

    &--nojs .main-nav__toggle {
      display: none;
    }

    &--nojs .main-nav__wrapper {
      display: block;
    }
  }

  @include use.media-tablet {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 63px;
  }

  @include use.media-desktop {
    padding: 49px 107px 0 113px;
    margin-bottom: 112px;
  }
}

.main-nav__wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  top: 65px;
  margin-left: -20px;

  @include use.media-tablet {
    display: inline-flex;
    position: relative;
    width: auto;
    margin: 0;
    top: 4px;
  }

  @include use.media-desktop {
    top: 1px;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include use.media-tablet {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    column-gap: 37px;
  }

  @include use.media-desktop {
    column-gap: 34px;
  }
}

.main-nav__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  @include use.media-mobile-only {
    border-top: 1px solid transparent;
    border-bottom: 1px solid #E6E6E6;
    background-color: use.$color-white;

    &:first-child {
      border-top: 1px solid #E6E6E6;
    }
  }

  @include use.media-tablet {
    background-color: transparent;
    box-shadow: none;
    border-bottom: none;
  }

}

.main-nav__toggle {
  position: absolute;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 24px 20px;
  z-index: 3;
  right: 0;

  &::after {
    content: "";
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 2px solid use.$color-black;
  }

  &:active {
    opacity: 0.6;
  }

  @include use.media-tablet {
    display: none;
  }
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  position: relative;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 2px solid use.$color-black;
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.6;
  }

  &--current::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: use.$color-green;
    transition: width 0.35s;

    @include use.media-desktop {
      background-color: use.$color-white;
    }
  }

  @include use.media-mobile-only {
    @include use.font-oswald-big;
    line-height: 40px;
    color: use.$color-black;
    left: -2px;
    margin: 12px 41px;
  }

  @include use.media-tablet {
    @include use.font-oswald-18;
    color: use.$color-black;
    line-height: 33px;
  }

  @include use.media-desktop {
    @include use.font-oswald-big;
    line-height: 36px;
    color: use.$color-white;
  }
}

.main-nav__link--current {
  @include use.media-tablet {
    color: use.$color-black;
    position: relative;
    left: 2px;
  }

  @include use.media-desktop {
    color: use.$color-white;
    left: -2px;
  }
}
