@use "../global/use.scss";

.info-box {
  display: flex;

  @include use.media-mobile-only {
    flex-direction: column;
  }

  @include use.media-tablet {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  @include use.media-desktop {
    flex-direction: column;
    align-items: flex-start;
  }
}
