@use "../global/use.scss";

.main-promo {
  display: block;
  position: relative;

  @include use.media-mobile-only {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      min-height: 302px;
      background-color: rgba(104, 183, 56, 0.85);
      margin-left: -20px;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      max-height: 302px;
      background-image: url("../img/web-mob-main-cat.webp");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      background-color: use.$color-gray;
      z-index: 1;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/web-mob-main-cat@2x.webp");
      }
    }
  }

  @include use.media-mobile-only {
    padding: 0 20px;
  }

  @include use.media-desktop {
    width: 1440px;
    margin: 0 auto;
  }
}
