@use "../global/use.scss";

.main-form-box {
  @include use.media-mobile-only {
    padding: 26px 20px 0;
    margin-bottom: 31px;
  }

  @include use.media-tablet {
    padding: 0 66px 0 70px;
    margin-bottom: 72px;
  }

  @include use.media-desktop {
    padding: 0 110px 0 111px;
    margin-bottom: 82px;
  }
}

.main-form-box__title {
  margin: 0;
  position: relative;

  @include use.media-mobile-only {
    @include use.font-oswald-bold;
    margin-bottom: 38px;
  }

  @include use.media-tablet {
    @include use.font-oswald-large;
    margin-bottom: 54px;
    left: -2px;
  }

  @include use.media-desktop {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 56px;
  }
}

.main-form-box__text {
  text-transform: uppercase;
  margin: 0;

  @include use.media-mobile-only {
    @include use.font-oswald-small;
    margin-bottom: 38px;
  }

  @include use.media-tablet {
    @include use.font-oswald-big;
    line-height: 30px;
    margin-bottom: 66px;
  }

  @include use.media-desktop {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 65px;
  }
}
