@use "../global/use.scss";

.main-extra {
  display: block;
  position: relative;

  &::before {
    @include use.media-tablet {
      content: "";
      position: absolute;
      height: 2px;
      width: 30px;
      top: 22px;
      left: 0;
      background-color: use.$color-green;
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% - 267px);
    top: 15px;
    right: 0;
    background-color: use.$color-green;

    @include use.media-tablet {
      width: calc(100% - 441px);
      top: 22px;
    }
  }

  @include use.media-mobile-only {
    padding: 0 20px;
  }

  @include use.media-tablet {
    padding: 0 30px;
  }
}

.main-extra__title {
  margin: 0;

  @include use.media-mobile-only {
    @include use.font-oswald-24;
    line-height: 24px;
    margin-bottom: 35px;
  }

  @include use.media-tablet {
    @include use.font-oswald-bold;
    margin-bottom: 80px;
    padding-left: 37px;
  }
}

.extra-box {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.extra-box__item {
  display: flex;
  flex-direction: column;
  list-style: none;


  &:last-child {
    border-bottom: 1px solid use.$color-example-line;
    margin: 0;
    padding-bottom: 17px;
  }

  @include use.media-mobile-only {
    border-top: 1px solid use.$color-example-line;
    padding-top: 13px;
    margin-bottom: 18px;
    width: 100%;
  }

  @include use.media-tablet {
    border: 1px solid use.$color-example-line;
    border-bottom: none;
    padding: 25px 38px 28px 37px;
  }
}

.extra-box__main-wrap {
  display: block;

  @include use.media-tablet {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
}

.extra-item__link {
  display: block;

  @include use.media-mobile-only {
    margin-bottom: 13px;
  }
}

.extra-item__title {
  margin: 0;
  text-transform: uppercase;

  @include use.media-mobile-only {
    @include use.font-oswald-normal;
    line-height: 16px;
  }

  @include use.media-tablet {
    @include use.font-oswald-big;
  }
}

.extra-box__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include use.media-mobile-only {
    margin-bottom: 15px;
  }

  @include use.media-tablet {
    column-gap: 50px;
    left: -2px;
    position: relative;
    top: 3px;
  }
}

.extra-box__text,
.extra-box__price {
  margin: 0;

  @include use.media-mobile-only {
    @include use.font-lato-small;
    line-height: 14px;
  }

  @include use.media-tablet {
    @include use.font-lato-normal;
    line-height: 20px;
  }
}

.extra-box__text {

  &--position {
    @include use.media-mobile-only {
      position: relative;
      left: 1px;
    }
  }
}
