@use "../global/use.scss";

.main-program {
  display: flex;
  flex-wrap: wrap;

  @include use.media-mobile-only {
    flex-direction: column;
    row-gap: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  @include use.media-tablet {
    padding: 0 30px;
    row-gap: 30px;
    margin-bottom: 45px;
  }

  @include use.media-desktop {
    flex-direction: row;
    column-gap: 80px;
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 71px;
  }
}
