@use "../global/use.scss";

.main-example {
  @include use.media-mobile-only {
    background-color: use.$color-example;
    padding: 0 20px;
  }

  @include use.media-tablet {
    padding: 0 31px;
    background-image: linear-gradient(use.$color-white 577px, use.$color-example 1px);
    padding-bottom: 100px;
  }

  @include use.media-desktop {
    padding: 0;
    background-image: linear-gradient(use.$color-white 137px, use.$color-example 1px);
    padding-bottom: 74px;
  }
}

.example-wrapper {
  @include use.media-desktop {
    display: flex;
    column-gap: 228px;
    max-width: 1220px;
    margin: 0 auto;
  }
}

.example-info-box {
  display: block;

  @include use.media-mobile-only {
    padding-top: 25px;
    margin-bottom: 20px;
  }

  @include use.media-tablet {
    margin-bottom: 104px;
  }

  @include use.media-desktop {
    margin: 0;
  }
}

.example-info-box__title {
  margin: 0;

  @include use.media-mobile-only {
    @include use.font-oswald-bold;
    line-height: 40px;
    margin-bottom: 40px;
  }

  @include use.media-tablet {
    @include use.font-oswald-large;
    margin-bottom: 63px;
  }

  @include use.media-desktop {
    margin-bottom: 147px;
  }
}

.example-info-box__text {
  display: inline-block;
  margin: 0;

  @include use.media-mobile-only {
    @include use.font-lato-small;
    margin-bottom: 20px;
  }

  @include use.media-tablet {
    @include use.font-lato-normal;
    margin-bottom: 54px;
  }

  @include use.media-desktop {
    margin-bottom: 69px;
    max-width: 432px;
  }
}

.example-compare-box {
  position: relative;
  display: flex;
  flex-direction: column;

  @include use.media-mobile-only {
    min-height: 296px;
    width: 280px;
    margin: 0 auto;
  }

  @include use.media-tablet {
    min-height: 512px;
    width: 560px;
    margin: 0 auto;
    left: 1px;
  }

  @include use.media-desktop {
    margin: 0;
    top: 2px;
    left: 0;
  }
}

.example-compare-box-img {
  display: block;
  position: absolute;
  object-fit: cover;

  &--fat {
    top: 0;
    left: 0;
    object-position: left;

    @include use.media-mobile-only {
      width: 140px;
      height: 256px;
    }

    @include use.media-tablet {
      width: 280px;
      height: 512px;
    }
  }

  &--thin {
    top: 0;
    right: 0;
    object-position: right;

    @include use.media-mobile-only {
      width: 140px;
      height: 256px;
    }

    @include use.media-tablet {
      width: 280px;
      height: 512px;
    }
  }
}

.example-range-bar {
  position: absolute;
  background-color: use.$color-light-gray;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 256px;
  width: 4px;
  border-radius: 2px;
  cursor: pointer;

  @include use.media-tablet {
    height: 512px;
  }

  &:hover {
    background-color: use.$color-green;
  }

  &:hover>.example-range-bar__toggle {
    border-color: use.$color-green;
  }

  &:hover>.example-range-bar__toggle::before {
    border-color: transparent use.$color-green transparent transparent;
  }

  &:hover>.example-range-bar__toggle::after {
    border-color: transparent transparent transparent use.$color-green;
  }

  &:active {
    opacity: 0.6;
  }
}

.example-range-bar__toggle {
  position: relative;
  border: 2px solid use.$color-light-gray;
  border-radius: 20px;
  background-color: use.$color-white;
  width: 40px;
  height: 40px;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
  cursor: pointer;

  &:focus-visible {
    outline: 1px solid use.$color-black;
  }

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -3px;
    border: 9px solid transparent;
    border-right: 8px solid use.$color-light-gray;
  }

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -3px;
    border: 9px solid transparent;
    border-left: 8px solid use.$color-light-gray;
  }
}
