@use "../global/use.scss";

.main-footer {
  background-color: use.$color-program;

  @include use.media-mobile-only {
    padding: 20px 20px 39px;
  }

  @include use.media-tablet {
    padding: 53px 29px 54px 31px;
  }

  @include use.media-desktop {
    padding: 64px 110px 64px 109px;
  }
}
