@use "../global/use.scss";

.main-form-box {

  @include use.media-mobile-only {
    padding: 26px 20px 0;
    margin-bottom: 31px;
  }

  @include use.media-tablet {
    padding: 0 66px 0 71px;
    margin-bottom: 72px;
  }
}

.main-form-box__title {
  margin: 0;

  @include use.media-mobile-only {
    @include use.font-oswald-bold;
    margin-bottom: 38px;
  }

  @include use.media-tablet {
    @include use.font-oswald-large;
    margin-bottom: 54px;
  }

  @include use.media-desktop {
    margin-bottom: 56px;
  }
}

.main-form-box__text {
  text-transform: uppercase;
  margin: 0;

  @include use.media-mobile-only {
    @include use.font-oswald-small;
    margin-bottom: 38px;
  }

  @include use.media-tablet {
    @include use.font-oswald-big;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

.form {
  text-transform: uppercase;
  color: use.$color-gray;

  @include use.media-mobile-only {
    @include use.font-oswald-normal;
    line-height: 18px;
  }

  @include use.media-tablet {
    @include use.font-oswald-big;
    line-height: 30px;
  }

}

.form__fieldset {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  flex-direction: column;

  &--first {
    @include use.media-mobile-only {
      margin-bottom: 26px;
    }

    @include use.media-tablet {
      margin-bottom: 75px;
    }
  }

  &--contact {
    @include use.media-mobile-only {
      margin-bottom: 24px;
    }

    @include use.media-tablet {
      margin-bottom: 65px;
    }
  }

  &--comment {
    @include use.media-mobile-only {
      margin-bottom: 23px;
    }

    @include use.media-tablet {
      margin-bottom: 65px;
    }
  }

  &--checkbox {
    @include use.media-mobile-only {
      margin-bottom: 16px;
    }

    @include use.media-tablet {
      margin-bottom: 58px;
    }
  }
}

.form-box {
  display: block;
}

.form-box__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  @include use.media-mobile-only {
    row-gap: 14px;
    padding-bottom: 24px;
  }

  @include use.media-tablet {
    row-gap: 20px;
  }

  &--border::after {
    @include use.media-mobile-only {
      content: "";
      position: absolute;
      width: calc(100% - -42px);
      height: 1px;
      background-color: use.$color-program-border;
      bottom: 0;
      left: -22px;
    }
  }

  &--text-group {
    @include use.media-mobile-only {
      margin-bottom: 29px;
    }

    @include use.media-tablet {
      margin-bottom: 72px;
    }
  }

  &--radio-group {
    @include use.media-mobile-only {
      row-gap: 25px;
    }

    @include use.media-tablet {
      border: 1px solid use.$color-input-border;
      padding: 30px 28px 28px;
      row-gap: 23px;
    }
  }

  &--contact-group {
    @include use.media-mobile-only {
      padding: 0;
    }
  }

  &--extra {
    @include use.media-mobile-only {
      row-gap: 24.5px;
    }

    @include use.media-tablet {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      row-gap: 42px;
    }
  }
}

.form-box__item {
  display: flex;
  align-items: center;
  column-gap: 13px;

  @include use.media-tablet {
    column-gap: 15px;
  }

  &--contact {
    @include use.media-mobile-only {
      column-gap: 11px;
    }

    @include use.media-tablet {
      column-gap: 22px;
    }
  }

  &--checkbox {
    @include use.media-tablet {
      min-width: 287px;
    }
  }
}

.form-box__label {
  cursor: pointer;

  &--radio {
    position: relative;
    margin-right: 0;
    padding-left: 45px;
    color: use.$color-label;

    @include use.media-tablet {
      padding-left: 60px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -6px;
      left: 0;
      width: 30px;
      height: 30px;
      border: 1px solid use.$color-program-border;
      border-radius: 50%;
      box-sizing: border-box;

      @include use.media-tablet {
        width: 40px;
        height: 40px;
      }
    }
  }

  &--tel {
    position: relative;

    @include use.media-tablet {
      left: -1px;
    }
  }

  &--checkbox {
    position: relative;
    margin: 0;
    padding-left: 46px;

    @include use.media-tablet {
      padding-left: 60px;
    }
  }
}

.form-box__input-text {
  width: 1px;
  flex-grow: 1;
  border: 1px solid use.$color-input-border;
  text-transform: uppercase;
  box-sizing: border-box;
  color: use.$color-input-border;

  @include use.media-mobile-only {
    @include use.font-oswald-normal;
    line-height: 18px;
    padding: 13px 20px 12px;
  }

  @include use.media-tablet {
    @include use.font-oswald-big;
    line-height: 30px;
    padding: 10px 18px;
  }

  &--mail {
    border-color: use.$color-example-line;
    color: use.$color-gray;

    @include use.media-mobile-only {
      padding: 13.5px 40px 11px 13px;
    }
  }

  &--phone {
    border-color: use.$color-example-line;
    color: use.$color-gray;

    @include use.media-mobile-only {
      padding: 15px 40px 10px 15px;
    }
  }
}

.form-box__input-radio:checked+.form-box__label--radio::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 8px;
  width: 14px;
  height: 14px;
  background-color: use.$color-green;
  border-radius: 50%;
  box-sizing: border-box;

  @include use.media-tablet {
    top: 5px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}


.form-box__input-radio:focus+.form-box__label--radio::before,
.form-box__label--radio:hover::before {
  border-color: use.$color-radio-hover;
}

.form__legend {
  margin: 0;
  padding: 0;
  color: use.$color-black;
  text-transform: none;
  position: relative;
  width: 100%;

  @include use.media-mobile-only {
    @include use.font-oswald-24;
    line-height: 26px;
    margin-bottom: 35px;
  }

  @include use.media-tablet {
    @include use.font-oswald-bold;
  }

  & br {
    @include use.media-tablet {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    top: 16px;
    right: -20px;
    background-color: use.$color-green;

    @include use.media-tablet {
      top: 22px;
      right: -68px;
    }
  }

  &--contact {

    @include use.media-tablet {
      margin-bottom: 76px;
      left: -1px;
    }

    &::after {
      @include use.media-mobile-only {
        width: calc(100% - 181px);
      }

      @include use.media-tablet {
        width: calc(100% - 486px);
      }
    }
  }

  &--comment {
    @include use.media-mobile-only {
      margin-bottom: 38px;
    }

    @include use.media-tablet {
      margin-bottom: 76px;
    }

    &::after {
      @include use.media-mobile-only {
        top: 15px;
        width: calc(100% - 123px);
      }

      @include use.media-tablet {
        width: calc(100% - 151px);
      }
    }
  }


  &--extra {
    @include use.media-mobile-only {
      margin-bottom: 40px;
    }

    @include use.media-tablet {
      margin-bottom: 63px;
    }

    &::after {
      @include use.media-mobile-only {
        top: 15px;
        width: calc(100% - 144px);
      }

      @include use.media-tablet {
        width: calc(100% - 184px);
      }
    }
  }
}

.form-box__icon-mail {
  position: absolute;
  right: 16px;

  @include use.media-tablet {
    right: 18px;
  }
}

.form-box__icon-phone {
  position: absolute;
  right: 17px;

  @include use.media-tablet {
    right: 19px;
  }
}

.form__textarea {
  border: 1px solid use.$color-input-border;
  text-transform: uppercase;
  resize: none;
  outline: 0;
  box-sizing: border-box;

  @include use.media-mobile-only {
    @include use.font-oswald-normal;
    line-height: 18px;
    padding: 9px 14px;
    min-height: 150px;
  }

  @include use.media-tablet {
    @include use.font-oswald-big;
    min-height: 174px;
    padding: 14px 19px;
  }
}




.form-box__input-checkbox+.form-box__label--checkbox::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;

  @include use.media-tablet {
    width: 40px;
    height: 40px;
  }
}

.form-box__input-checkbox:checked+.form-box__label--checkbox::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  box-sizing: border-box;

  @include use.media-mobile-only {
    top: 2px;
    left: 6px;
    width: 19px;
    height: 15px;
    background-image: url(../img/svg/mob-checkbox.svg);
  }

  @include use.media-tablet {
    top: 5px;
    left: 8px;
    width: 24px;
    height: 19px;
    background-image: url(../img/svg/tab-checkbox.svg);
  }
}

.form__btn {
  position: relative;

  @include use.media-mobile-only {
    @include use.font-oswald-normal;
    padding-top: 11px;
    padding-bottom: 9px;
    margin-bottom: 20px;
    width: 100%;
  }

  @include use.media-tablet {
    @include use.font-oswald-big;
    line-height: 30px;
    padding: 11px 65px;
    display: inline-block;
    left: 2px;
    margin-right: 61px;
  }
}

.form__btn-text {
  text-transform: none;
  text-align: center;
  position: relative;

  @include use.media-mobile-only {
    @include use.font-lato-small;
    display: block;
  }

  @include use.media-tablet {
    @include use.font-lato-normal;
    line-height: 16px;
    display: inline-block;
    top: -6px;
  }
}
