@use "../global/use.scss";

.main-extra {
  display: block;
  position: relative;

  &::before {
    @include use.media-tablet {
      content: "";
      position: absolute;
      height: 2px;
      width: 30px;
      top: 22px;
      left: 0;
      background-color: use.$color-green;
    }

    @include use.media-desktop {
      width: 70px;
      top: 23px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% - 267px);
    top: 15px;
    right: 0;
    background-color: use.$color-green;

    @include use.media-tablet {
      width: calc(100% - 441px);
      top: 22px;
    }

    @include use.media-desktop {
      width: calc(100% - 482px);
      top: 23px;
    }
  }

  @include use.media-mobile-only {
    padding: 0 20px;
    margin-bottom: 35px;
  }

  @include use.media-tablet {
    padding: 0 30px;
    margin-bottom: 76px;
  }

  @include use.media-desktop {
    padding: 0 110px;
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 86px;
  }
}

.main-extra__title {
  margin: 0;

  @include use.media-mobile-only {
    @include use.font-oswald-24;
    line-height: 24px;
    margin-bottom: 35px;
  }

  @include use.media-tablet {
    @include use.font-oswald-bold;
    margin-bottom: 80px;
    padding-left: 37px;
  }

  @include use.media-desktop {
    padding: 0;
  }
}

.main-extra__container {
  @include use.media-desktop {
    display: flex;
    justify-content: space-between;
  }
}
