@use "../global/use.scss";

.main-catalog {
  padding: 26px 20px 0;
  display: flex;
  flex-direction: column;

  @include use.media-mobile-only {
    margin-bottom: 25px;
  }

  @include use.media-tablet {
    padding: 0 30px;
    margin-bottom: 68px;
  }

  @include use.media-desktop {
    padding: 0 110px;
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 75px;
  }
}

.catalog-title {
  margin: 0;

  @include use.media-mobile-only {
    @include use.font-oswald-bold;
    margin-bottom: 41px;
  }

  @include use.media-tablet {
    @include use.font-oswald-large;
    margin-bottom: 163px;
  }

  @include use.media-desktop {
    margin-bottom: 165px;
  }
}
