@use "../global/use.scss";

.main-example {
  @include use.media-mobile-only {
    background-color: use.$color-example;
    padding: 0 20px;
  }

  @include use.media-tablet {
    padding: 0 31px;
    background-image: linear-gradient(use.$color-white 577px, use.$color-example 1px);
    padding-bottom: 100px;
  }

  @include use.media-desktop {
    display: flex;
    column-gap: 228px;
    padding: 0 110px;
    background-image: linear-gradient(use.$color-white 137px, use.$color-example 1px);
    padding-bottom: 74px;
  }
}

.example-info-box {
  display: block;

  @include use.media-mobile-only {
    padding-top: 25px;
    margin-bottom: 20px;
  }

  @include use.media-tablet {
    margin-bottom: 104px;
  }

  @include use.media-desktop {
    margin: 0;
  }
}

.example-info-box__title {
  margin: 0;

  @include use.media-mobile-only {
    @include use.font-oswald-bold;
    line-height: 40px;
    margin-bottom: 40px;
  }

  @include use.media-tablet {
    @include use.font-oswald-large;
    margin-bottom: 63px;
  }

  @include use.media-desktop {
    margin-bottom: 147px;
  }
}

.example-info-box__text {
  display: inline-block;
  margin: 0;

  @include use.media-mobile-only {
    @include use.font-lato-small;
    margin-bottom: 20px;
  }

  @include use.media-tablet {
    @include use.font-lato-normal;
    margin-bottom: 54px;
  }

  @include use.media-desktop {
    margin-bottom: 69px;
    max-width: 432px;
  }
}

.info-box-table {
  display: flex;

  @include use.media-mobile-only {
    flex-direction: column;
  }

  @include use.media-tablet {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  @include use.media-desktop {
    flex-direction: column;
    align-items: flex-start;
  }
}

.info-box-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;

  @include use.media-mobile-only {
    column-gap: 32px;
    margin-bottom: 34px;
  }

  @include use.media-tablet {
    column-gap: 42px;
  }

  @include use.media-desktop {
    margin-bottom: 61px;
  }
}

.info-box-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid use.$color-example-line;
  border-radius: 3px;

  @include use.media-mobile-only {
    width: 122px;
    min-height: 54px;
  }

  @include use.media-tablet {
    width: 160px;
    min-height: 70px;
  }
}

.info-box-list__title {
  padding: 0;
  text-transform: uppercase;
  margin: 0;
  position: relative;

  @include use.media-mobile-only {
    @include use.font-oswald-24;
    line-height: 24px;
    top: -1px;
  }

  @include use.media-tablet {
    @include use.font-oswald-bold;
    font-size: 30px;
    line-height: 37px;
    top: -3px;
  }
}

.info-box-list__desc {
  position: absolute;
  margin: 0;
  text-align: center;
  text-transform: lowercase;

  @include use.media-mobile-only {
    @include use.font-lato-12;
    width: 60px;
    padding: 0 14px;
    top: 85%;
    background-color: use.$color-example;
  }

  @include use.media-tablet {
    @include use.font-lato-small;
    line-height: 14px;
    top: 90%;
    padding: 0 8px;
    background-color: use.$color-white;
  }

  @include use.media-desktop {
    padding: 0 11px;
    background-color: use.$color-example;
  }
}

.under-table-text {
  margin: 0;
  text-transform: uppercase;

  @include use.media-mobile-only {
    @include use.font-oswald-small;
    line-height: 20px;
    text-align: center;
  }

  @include use.media-tablet {
    @include use.font-oswald-big;
    text-align: right;
    width: 174px;
  }

  @include use.media-desktop {
    text-align: left;
    width: auto;
  }
}

.under-table-text__position {
  @include use.media-tablet {
    display: inline-block;
    margin-bottom: 9px;
  }

  @include use.media-desktop {
    margin: 0;
    margin-right: 61px;
  }
}

.example-compare-box {
  position: relative;
  display: flex;
  flex-direction: column;

  @include use.media-mobile-only {
    min-height: 296px;
    width: 280px;
    margin: 0 auto;
  }

  @include use.media-tablet {
    min-height: 512px;
    width: 560px;
    margin: 0 auto;
    left: 1px;
  }

  @include use.media-desktop {
    margin: 0;
    top: 2px;
    left: 0;
  }
}

.compare-box__img {
  display: block;
  position: absolute;
  object-fit: cover;

  &--fat {
    top: 0;
    left: 0;
    object-position: left;

    @include use.media-mobile-only {
      width: 140px;
      height: 256px;
    }

    @include use.media-tablet {
      width: 280px;
      height: 512px;
    }
  }

  &--thin {
    top: 0;
    right: 0;
    object-position: right;

    @include use.media-mobile-only {
      width: 140px;
      height: 256px;
    }

    @include use.media-tablet {
      width: 280px;
      height: 512px;
    }
  }
}

.example-range-bar {
  position: absolute;
  background-color: use.$color-light-gray;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 256px;
  width: 4px;
  border-radius: 2px;
  cursor: pointer;

  @include use.media-tablet {
    height: 512px;
  }

  &:hover {
    background-color: use.$color-green;
  }

  &:hover>.example-range-bar__toggle {
    border-color: use.$color-green;
  }

  &:hover>.example-range-bar__toggle::before {
    border-color: transparent use.$color-green transparent transparent;
  }

  &:hover>.example-range-bar__toggle::after {
    border-color: transparent transparent transparent use.$color-green;
  }

  &:active {
    opacity: 0.6;
  }
}

.example-range-bar__toggle {
  position: relative;
  border: 2px solid use.$color-light-gray;
  border-radius: 20px;
  background-color: use.$color-white;
  width: 40px;
  height: 40px;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
  cursor: pointer;

  &:focus-visible {
    outline: 1px solid use.$color-black;
  }

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -3px;
    border: 9px solid transparent;
    border-right: 8px solid #666;
  }

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -3px;
    border: 9px solid transparent;
    border-left: 8px solid #666;
  }
}
