@use "../global/use.scss";

.main-program {
  display: flex;
  flex-wrap: wrap;

  @include use.media-mobile-only {
    flex-direction: column;
    row-gap: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  @include use.media-tablet {
    padding: 0 30px;
    row-gap: 30px;
    margin-bottom: 45px;
  }

  @include use.media-desktop {
    padding: 0 110px;
    flex-direction: row;
    column-gap: 80px;
    margin-bottom: 71px;
  }
}

.program-box {
  background-color: use.$color-program;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: use.$color-green;
    border-radius: 50%;

    @include use.media-tablet {
      top: 92px;
      left: auto;
      right: 61px;
      width: 200px;
      height: 200px;
    }

    @include use.media-desktop {
      top: 47px;
      left: 52px;
      right: auto;
      width: 100px;
      height: 100px;
    }
  }

  &--thin::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 53px;
    top: 21px;
    left: 29px;
    background-image: url("../img/svg/mob-cat-thin.svg");
    background-repeat: no-repeat;

    @include use.media-tablet {
      width: 200px;
      height: 211px;
      left: auto;
      top: 81px;
      right: 31px;
      background-image: url("../img/svg/tab-cat-thin.svg");
    }

    @include use.media-desktop {
      width: 100px;
      height: 106px;
      left: 67px;
      top: 41px;
      right: auto;
      background-image: url("../img/svg/desk-cat-thin.svg");
    }
  }

  &--weight::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 50px;
    top: 35px;
    left: 13px;
    background-image: url("../img/svg/mob-cat-weight.svg");
    background-repeat: no-repeat;

    @include use.media-tablet {
      width: 268px;
      height: 200px;
      left: auto;
      top: 135px;
      right: 27px;
      background-image: url("../img/svg/tab-cat-weight.svg");
    }

    @include use.media-desktop {
      width: 134px;
      height: 100px;
      left: 33px;
      top: 67px;
      right: auto;
      background-image: url("../img/svg/desk-cat-weight.svg");
    }
  }

  @include use.media-mobile-only {
    padding: 30px 33px 16px 20px;
  }

  @include use.media-tablet {
    padding: 77px 316px 57px 53px;
  }

  @include use.media-desktop {
    padding: 77px 48px 59px 52px;
    max-width: 470px;
  }
}

.program-box__title {
  margin: 0;
  text-transform: uppercase;
  position: relative;

  @include use.media-mobile-only {
    @include use.font-oswald-24;
    margin-bottom: 29px;
    padding-left: 72px;
  }

  @include use.media-tablet {
    @include use.font-oswald-bold;
    margin-bottom: 24px;
  }

  @include use.media-desktop {
    margin-bottom: 73px;
    padding-left: 162px;
  }
}

.program-box__text {
  margin: 0;

  @include use.media-mobile-only {
    @include use.font-lato-small;
    color: use.$color-gray;
    border-bottom: 1px solid use.$color-program-border;
    padding-bottom: 23px;
    margin-bottom: 16px;
  }

  @include use.media-tablet {
    @include use.font-lato-normal;
    margin-bottom: 52px;
  }

  @include use.media-desktop {
    margin-bottom: 27px;
  }
}

.program-box__link {
  display: block;
  position: relative;
  margin: 0;
  color: use.$color-black;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    top: 4px;
    left: 100px;
    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;

    @include use.media-tablet {
      top: 9px;
      left: 131px;
    }
  }

  @include use.media-mobile-only {
    @include use.font-oswald-normal;
    line-height: 16px;
    padding-top: 3px;
    padding-bottom: 5px;
  }

  @include use.media-tablet {
    @include use.font-oswald-big;
    line-height: 30px;
  }

  &:hover::after {
    width: 32px;
    height: 12px;
    background-image: url("../img/svg/arrow-active.svg");
  }

  &:focus-visible {
    outline: 1px solid use.$color-black;
  }

  &:active {
    opacity: 0.3;
  }
}
