@use "../global/use.scss";

.main-example {
  @include use.media-mobile-only {
    background-color: use.$color-example;
    padding: 0 20px;
  }

  @include use.media-tablet {
    padding: 0 31px;
    background-image: linear-gradient(use.$color-white 577px, use.$color-example 1px);
    padding-bottom: 100px;
  }

  @include use.media-desktop {
    padding: 0;
    background-image: linear-gradient(use.$color-white 137px, use.$color-example 1px);
    padding-bottom: 74px;
  }
}
