@use "../global/use.scss";

.main-catalog {
  padding: 26px 20px 0;
  display: flex;
  flex-direction: column;

  @include use.media-mobile-only {
    margin-bottom: 25px;
  }

  @include use.media-tablet {
    padding: 0 30px;
    margin-bottom: 68px;
  }

  @include use.media-desktop {
    padding: 0 110px;
    margin-bottom: 75px;
  }
}

.catalog-title {
  margin: 0;

  @include use.media-mobile-only {
    @include use.font-oswald-bold;
    margin-bottom: 41px;
  }

  @include use.media-tablet {
    @include use.font-oswald-large;
    margin-bottom: 163px;
  }

  @include use.media-desktop {
    margin-bottom: 165px;
  }
}

.product-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @include use.media-mobile-only {
    flex-direction: column;
  }

  @include use.media-tablet {
    row-gap: 141px;
    column-gap: 60px;
  }

  @include use.media-desktop {
    row-gap: 143px;
    column-gap: 80px;
  }
}

.product-box__item {
  list-style: none;
  position: relative;

  @include use.media-mobile-only {
    margin-right: -20px;
    margin-left: -20px;
    padding: 20px 20px 25px 20px;
    border-top: 1px solid use.$color-catalog-line;
  }

  @include use.media-tablet {
    padding: 161px 36px 39px 38px;
    background-color: use.$color-program;
    flex-grow: 1;
    min-width: 250px;
  }

  @include use.media-desktop {
    padding: 164px 36px 39px 41px;
    min-width: auto;
    max-width: 180px;
  }

  &:last-child {
    text-align: center;
    position: relative;

    @include use.media-mobile-only {
      border-bottom: 1px solid use.$color-catalog-line;
      padding: 25px 20px 23px;
    }

    @include use.media-tablet {
      padding: 50px 35px 37px;
      background: #fff;
      border: 2px solid #f2f2f2;
      max-height: 338px;
      top: 1px;
    }

    @include use.media-desktop {
      padding: 50px 33px 26px 29px;
      max-height: 352px;
      border: 2px solid #F2F2F2;
      outline: none;
      top: 0;
    }
  }
}

.product-item__link-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 140px;
  height: 112px;
  object-fit: contain;

  @include use.media-tablet {
    height: 200px;
    align-self: center;
    position: absolute;
    top: -75px;
  }

  @include use.media-desktop {
    height: 196px;
    left: 39px;
    top: -81px;
  }
}

.product-item__img {
  position: relative;

  @include use.media-mobile-only {
    top: -2px;
  }

  @include use.media-tablet {
    top: 2px;
    left: -1px;
  }
}

.product-item__inner-box {
  display: flex;

  @include use.media-mobile-only {
    margin-bottom: 11px;
  }

  @include use.media-tablet {
    flex-direction: column;
  }
}

.product-item__description-box {
  flex-grow: 1;

  @include use.media-tablet {
    margin-bottom: 27px;
  }
}

.product-item__link-title {
  display: block;
  max-width: 76px;
  text-decoration: none;

  @include use.media-mobile-only {
    margin-bottom: 14px;
  }

  @include use.media-tablet {
    max-width: 134px;
    margin: 0 auto 19px;
    text-align: center;
    left: -1px;
    position: relative;
  }

  @include use.media-desktop {
    margin: 0 auto 23px;
  }
}

.product-item__title {
  margin: 0;
  color: use.$color-catalog-product-title;
  text-transform: uppercase;
  position: relative;


  @include use.media-mobile-only {
    @include use.font-oswald-normal;
  }

  @include use.media-tablet {
    @include use.font-oswald-big;
    line-height: 24px;
    left: 1px;
  }

  @include use.media-desktop {
    line-height: 21px;
    left: 2px;
  }

  &--more {
    position: relative;

    @include use.media-mobile-only {
      margin-bottom: 8px;
    }

    @include use.media-tablet {
      margin: 0 auto 22px;
      max-width: 134px;
      line-height: 22px;
    }

    @include use.media-desktop {
      left: 3px;
    }
  }
}

.product-table__features {
  width: 100%;
  border-collapse: collapse;
  border-spacing: unset;
  border: 0;
}

.product-table__row {
  display: flex;
  justify-content: space-between;

  @include use.media-tablet {
    margin-bottom: 6px;
    padding-bottom: 9px;
    border-bottom: 1px solid use.$color-example-line;
  }
}

.product-table__cell {
  padding: 0;
  color: use.$color-gray;

  @include use.media-mobile-only {
    @include use.font-lato-12;
    line-height: 16px;
  }

  @include use.media-tablet {
    @include use.font-lato-normal;
    line-height: 16px;
  }
}

.product-item__btn {
  width: 100%;
  padding: 10px 0;
  @include use.font-oswald-normal;
  position: relative;

  @include use.media-desktop {
    left: -2px;
  }

  &--extra {
    @include use.media-desktop {
      max-width: 244px;
      left: 0;
    }
  }
}

.product-more__btn {
  color: use.$color-gray;
  background-color: use.$color-program;

  &:hover {
    background-color: use.$color-catalog-line;
  }

  &:focus-visible {
    outline: 1px solid use.$color-black;
  }

  &:active {
    color: use.$color-gray;
    opacity: 0.3;
  }

  @include use.media-desktop {
    max-width: 169px;
    left: 8px;
  }
}

.product-more__box {
  display: block;

  @include use.media-mobile-only {
    margin-bottom: 21px;
  }

  @include use.media-tablet {
    margin: 0 auto 88px;
    max-width: 167px;
  }
}

.product-more__plus {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;

  @include use.media-tablet {
    width: 60px;
    height: 60px;
    margin-bottom: 49px;
  }

  @include use.media-desktop {
    margin-bottom: 49px;
    left: 2px;
    top: -1px;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: relative;
    background-color: use.$color-catalog-plus;
  }

  &::before {
    @include use.media-mobile-only {
      width: 30px;
      height: 2px;
      top: 13px;
      left: -6px;
    }

    @include use.media-tablet {
      width: 60px;
      height: 2px;
      top: 29px;
      left: -6px;
    }
  }

  &::after {
    @include use.media-mobile-only {
      width: 2px;
      height: 30px;
      top: -3px;
      left: 8px;
    }

    @include use.media-tablet {
      width: 2px;
      height: 60px;
      top: -3px;
      left: 24px;
    }
  }

  @include use.media-mobile-only {
    margin-bottom: 23px;
  }


  &:hover::before,
  &:hover::after {
    background-color: use.$color-program-border;
  }

  &:focus-visible {
    outline: 1px solid use.$color-black;
  }

  &:active {
    opacity: 0.6;
  }
}

.product-more__text {
  margin: 0;
  position: relative;

  @include use.media-mobile-only {
    @include use.font-lato-12;
    line-height: 16px;
  }

  @include use.media-tablet {
    line-height: 18px;
  }

  @include use.media-desktop {
    left: 2px;

  }
}
