@use "../global/use.scss";

.promo-box {
  display: block;
  position: relative;
  z-index: 3;

  @include use.media-desktop {
    margin: 0 auto;
    margin-bottom: 51px;
    padding: 0 190px;
  }
}

.promo-box__title {
  margin: 0;

  @include use.media-mobile-only {
    @include use.font-oswald-bold;
    color: use.$color-white;
    text-align: center;
    margin-bottom: 25px;
    padding-top: 26px;
  }

  @include use.media-tablet {
    @include use.font-oswald-large;
    padding: 0 118px;
    margin-bottom: 42px;
  }

  @include use.media-desktop {
    padding: 0;
    margin-bottom: 40px;
    max-width: 480px;
  }
}

.promo-box__desc {
  margin: 0;
  text-transform: uppercase;

  @include use.media-mobile-only {
    @include use.font-oswald-small;
    line-height: 14px;
    text-align: center;
    color: use.$color-white;
    margin-bottom: 29px;
  }

  @include use.media-tablet {
    @include use.font-oswald-big;
    padding: 0 120px;
    margin-bottom: 20px;
  }

  @include use.media-desktop {
    padding: 0;
    max-width: 460px;
    margin-bottom: auto;
  }
}

.promo-box__img {
  display: block;
  position: relative;
  margin: 0 auto;

  @include use.media-mobile-only {
    margin-bottom: 2px;
  }

  @include use.media-tablet {
    width: 709px;
    height: 609px;
  }

  @include use.media-desktop {
    position: absolute;
    margin: 0;
    width: 552px;
    height: 499px;
    top: -83px;
    left: 559px;
  }
}

.promo-box-btn {
  @include use.media-mobile-only {
    padding-top: 12px;
    padding-bottom: 11px;
  }

  @include use.media-tablet {
    @include use.font-oswald-big;
    font-weight: 400;
    position: absolute;
    top: 231px;
    left: 121px;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 244px;
    z-index: 5;
  }

  @include use.media-desktop {
    top: auto;
    left: 190px;
  }
}
