$color-white: #ffffff;
$color-black: #000000;
$color-green: #68b738;
$color-dark-green: #5eaa2f;
$color-gray: #444444;
$color-label: #222222;
$color-light-gray: #666666;
$color-body: #e7e5e5;
$color-input-border: #e7e7e7;
$color-example: #eaeaea;
$color-radio-hover: #bababa;
$color-example-line: #cdcdcd;
$color-line: #e6e6e6;
$color-program: #f2f2f2;
$color-program-border: #d9d9d9;
$color-catalog-line: #ebebeb;
$color-catalog-plus: #d3d3d3;
$color-error: #ff8282;
